<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832066212406-813cuumhq2s1g2af0eabf6dkt8mpcd7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832066212406-813cuumhq2s1g2af0eabf6dkt8mpcd7o</string>
	<key>API_KEY</key>
	<string>AIzaSyDWHHim4gGthk5Q5TCH2Kb9IYVHbX6ZSE0</string>
	<key>GCM_SENDER_ID</key>
	<string>832066212406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brian.Tap-Tap-Shankar</string>
	<key>PROJECT_ID</key>
	<string>tap-tap-shankar</string>
	<key>STORAGE_BUCKET</key>
	<string>tap-tap-shankar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832066212406:ios:70a7f936f68cdfc478be97</string>
	<key>DATABASE_URL</key>
	<string>https://tap-tap-shankar.firebaseio.com</string>
</dict>
</plist>